AWS_REGION=us-east-1

DIAGNOSTICS_MODEL_ID=us.amazon.nova-pro-v1:0
REMEDIATION_MODEL_ID=us.amazon.nova-pro-v1:0

DIAGNOSTICS_MODEL_PRICE_INPUT_PER_1K=0.0008
DIAGNOSTICS_MODEL_PRICE_OUTPUT_PER_1K=0.0032
REMEDIATION_MODEL_PRICE_INPUT_PER_1K=0.00024
REMEDIATION_MODEL_PRICE_OUTPUT_PER_1K=0.00097






